#foot
  div.trademark
    img.book-icon(src='/images/bookicon.jpg')
    h4  BOOK HOUSE 
  div.footer-right  
    div  About us 
    div  Download apps
    div  Careers
    div  Contact
    div.copyright  &copy 2020 by Chandan Shetti
