extends layout

block content
        img.bg-img(src="images/bg-img.png")

        div.form.form-group.login-box
            h2.heading#headeing-login Please Enter Your Login Credentials
            form.form--login
                .form__group
                    label.col-md-2(for='email')
                    | Email 
                    input.form-control.col-md-8#email(type='email' placeholder='you@example.com')
                .form__group
                    label.col-md-2(for='password')
                    | Password
                    input.form-control.col-md-8#password(type='password' placeholder='Enter Your Password')
                .form__group
                    button.btn.btn-success#btn--login LOGIN
